<div class="header">
  <div class="sides">
    <a href="#" class="menu"></a></div>
  <div class="info">
  <h1>KRONOS</h1>
  <h2>Hotel Management System</h2>
  </div>
</div>

<div class="navi-container container-fluid">
  <div class="row">
    <div class="col-sm-12  col-xl-6 ">
       <div class="infobox">
      <div class="row">
        <div class="col-sm-6">
            {{#each data}}
            <h2>Info</h2>
            <p>{{this.info}} </p>
        </div>
        
        <div class="col-sm-6">
          <img src="/lightbulb-on@2x.png" class="responsive-img infobox-img">
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="infobox">
      <div class="row">
        <div class="col-sm-6">
            <h2>Goals</h2>
            <p>{{this.goals}} </p>
        </div>
            {{/each}} 
        <div class="col-sm-6">
          <img src="/rocket@2x.png" alt="icon" class="responsive-img infobox-img" >
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{{!--  --}}



<!--
<footer><div class="meta2">
      By <a href="https://www.linkedin.com/in/bernardo-fonseca-torres-3b922320a/" target="_b">Bernardo</a> and <a href="https://www.linkedin.com/in/silvi-sinanaj-5a44ab190/" target="_b">Silvi</a> 
    </div></footer>
-->
