<div class="header">
  <div class="sides">
    <a href="#" class="menu"></a></div>
  <div class="info">
  <h4><a>TTTTTask Management System<br>  </a></h4>
    <h1>KRONOS</h1>
    <div class="meta2">
      By <a href="https://www.linkedin.com/in/bernardo-fonseca-torres-3b922320a/" target="_b">Bernardo</a> and <a href="https://www.linkedin.com/in/silvi-sinanaj-5a44ab190/" target="_b">Silvi</a> 
    </div>
  </div>
</div>
<section class="content">
<p></p>
  </p>
</section>
<!--<h1 class='main' ></h1>
<div style="background:center; background-size:cover; height:450px; size:inherit; background-image: url()"></div> -->
<div class="main2">
  <div class="infobox">
<h4>General info </h4> <br>
<p>INFOMARTION OF THE DAY </p></div>
<div class="infobox">
  <h4>Goals</h4> <br>
<p>BLABLA GOALS </p></div>
  </div>
