<div class="header">
  <div class="sides">
    <a href="#" class="menu"></a></div>
  <div class="info">
  <p class="main-pic-msg"><a>Hotel Management System</a></p>
    <p class="main-title">KRONOS</p>
  </div>
</div>
<section class="content">
<p>!Motivational Message here</p>
  </p>
</section>
<!--<h1 class='main' ></h1>
<div style="background:center; background-size:cover; height:450px; size:inherit; background-image: url()"></div> -->
<div class="main2">
  <div class="infobox">
<h4>General info </h4> <br>
<p>INFORMATION OF THE DAY <br>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea non fugiat porro optio quae facere maiores illum eligendi! Numquam ipsam libero quos sed? Molestias nobis dicta, labore velit veniam quo!</p></div>
<div class="infobox">
  <!-- DESIGN TEST -->
  <h4>Goals</h4> <br>
  <p><li>Revenue Bar: 2.000,- EUR</li></p>
  <p><li>Revenue Bar: 2.000,- EUR</li></p>
  <p><li>Revenue Bar: 2.000,- EUR</li></p>
  <p><li>Revenue Bar: 2.000,- EUR</li></p>
  <p><li>Revenue Bar: 2.000,- EUR</li></p>
</div>
  </div>


<!--
<footer><div class="meta2">
      By <a href="https://www.linkedin.com/in/bernardo-fonseca-torres-3b922320a/" target="_b">Bernardo</a> and <a href="https://www.linkedin.com/in/silvi-sinanaj-5a44ab190/" target="_b">Silvi</a> 
    </div></footer>
-->
