<div id="manager">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
    <form class="taskmaker" action="/signup" method="POST">
        <div class=" container" >
       <div class="row m-0">
          <div class="col-sm-12 col-md-12 col-lg-12 mt-50">
            <h1>KRONOS</h1>
            </div>
        </div>
        <div class="row m-0">
          <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
      <h2>Sign up</h2>
      </div>
        </div>
        {{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{{/if}}
       
     <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
       <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
       <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label" for="department">Department</label>
        <select class="form-select" name="department" multiple>
        <option disabled>Choose</option>
        {{#each departments}}
        <option class="option-font" value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      </div>
      
       <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label">User Type</label> <br>
        <label class="form-check-label" for="Manager">Manager</label>
        <input class="form-check-input" type="radio" name="userType" value="Manager">
        <label class="form-check-label" for="Staff">Staff</label>
        <input class="form-check-input" type="radio" name="userType" value="Staff">
      <button  class="myBtn login-btn" type="submit"><b>Sign Up</b></button>
      <div class="divider"></div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
    <p class="ta-c">Already have an account? <a href="/">Log in!</a></p>
</div></div>
    </form>
  </div></div> 
</div></div>


