
<div class="header">
  <div class="sides">
    <a href="#" class="menu"></a></div>
  <div class="info">
  <h1>ERROR!</h1>
  <h2>There was an error on the server! Check the console!</h2>
  </div>
</div>
</div>


