<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


{{!-- to be edited --}}
<ul>   Tasks
 

{{#each data}}
 <li></li>
Task: {{this.title}} <br>
Asigned To : {{this.asignedTo.username}} <br></li>
{{/each}}  
  
</ul>