<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


{{!-- to be edited --}}
  <h2>Tasks</h2>
   {{#each tasks}}
    <a href="/tasks/{{this.id}}">  Task:  {{this.title}}         |         Status:      {{this.status}} </a> <br>
    {{/each}}  
    
<div v-bind:class="{ 'mainbox': $route.path == '/profile' }"><h1>hello</h1></div>