
<div class="Start">

  <img src="/" width="400">

</div>




    
  
        
        
        

<div>
  <form method="POST" action="/login">
        <label>Username</label>  <input type="username" name="username" placeholder="Enter your username"  >
          <label>Password</label>  <input type="password" name="password" placeholder="Enter your Password">
            <button>log In</button>
              <button href="/views/signup">Sign Up</button></form>
                </div>
   
    <body>
     
      
    </body>

