<div id="manager">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
  <form class="taskmaker" action="/login" method="POST">
    <div class=" container" >
       <div class="row m-0">
          <div class="col-sm-12 col-md-12 col-lg-12 mt-50">
            <p class="main-title">KRONOS</p>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
            <h3>Log In</h3>
          </div>
        </div>
       
      <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
        <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      </div>
      <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
      <button class="myBtn login-btn" type="submit"><b>Log
          In</b></button>
          <div class="divider"></div>
  
      </div>
       <div class="col-sm-12 col-md-12 col-lg-12 login-btn">
          <h4>No Account yet? <a href="/signup">Sign up now!</a></h4>
</div>
      </div>
    </form>
    

 </div></div> 
</div></div>

{{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{{/if}}