
<img src="/images/logos.png" width="400">
    
<div class="start-form">
  <form method="POST" action="/login">
  <label>Username</label>  <input type="username" name="username" placeholder="Enter your username"  >
  <label>Password</label>  <input type="password" name="password" placeholder="Enter your Password">
  <button>log In</button>
  <p style="color: black; margin: 20px"><b>Don't have an account yet?     <a class="btn btn-primary" href="/signup">Sign Up</a></b></p>
</div>
  {{#if msg}}
  <br>
  <div class="alert alert-danger" role="alert">
  {{msg}}
  </div>
  {{/if}}