<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<form method="POST" action="/login">  <label>Username</label>  <input type="username" name="username" placeholder="Enter your username">
  <label>Password</label> 
   <input type="password" name="password" placeholder="Enter your Password"  > 
    <button>log In</button>
    </form>

    <a href="/signup">Sign up</a>
{{#if msg}}
<br>
<div class="alert alert-danger" role="alert">
{{msg}}
</div>
{{/if}}
