<div class="Start">
  <img src="/images/cover12.png" width="400"

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
      <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button"
        role="tab"
        aria-controls="login" aria-selected="true">Manager</button>
    </li>
      <li class="nav-item" role="presentation"></li>
      <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab"
        aria-controls="signup" aria-selected="false">Employee</button>
  </li>
</ul>




</div>