<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   </head>

   <body>
<nav>
   <a href="/">home</a>  {{!-- will show log in  --}}
   <a href="/signup">Sign up</a>  {{!-- will show sign up --}}
   <a href="/new-task">create task</a>
   <a href="/tasks">All tasks</a>
   <a href="/testing">Testing</a>
   <a href="/main"><Main></Main></a>
</nav>
      {{{body}}}
      <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
      <script src="/js/script.js"></script>
   </body>

</html>