/* colors-layout: gold: #a88b17, navy: #03001a  */
@font-face {
  font-family: Phosphate;
  src: url("/fonts/PhosphatePro-Inline.otf");
}
/*-------------------------------------------------------------MAIN CLASSES*/
html { 
  scroll-behavior: smooth;
}
body, p {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: rgb(207, 109, 17) !important;
}

h2, h3, h4 {
  color: #ffffff;
  text-align: center;
}
h1 {
  font-family: Phosphate;
  font-size: 70px;
  color: white;
  text-align: center;
}
h2{
  font-size: 2em;
}
h3{
  margin-top: 25px;
}
/* -------------------------------------------404 style */
.err,
.err2 {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}
.err2 {
  left: 68%;
}
.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}
/* -------------------------------------------TITLES */
.card-title {
  color: #000;
}



.main-pic-msg {
  color: white;
  font-size: 15px;
}

.msg {
  color: aliceblue;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}
/* ==================================== */
p {
  color: white;
}
.allTasks {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.form,
.form-label {
  color: rgb(187, 154, 5);
  font-weight: bolder;
  width: 500px;
  margin: 10px 0;
  font-size: 20px;
}
label.form-check-label {
  font-size: 20px;
  padding-right: 10px;
}
input.form-check-input {
  margin-right: 30px;
}

.selector {
  width: 500px;
  margin: 10px;
}
.taskList {
  width: 400px;
}
nav {
  position: fixed !important;
  width: 100%;
  display: flex !important;
}
.navbar{
  justify-content: flex-start;
  padding: 0 60px;
  z-index: 1;
}

.main2 {
  display: flex;
  padding: 0 30px;
  justify-content: center;
}

.infobox {
    background-color: #1c1c57b2;
    padding: 15px 20px;
    margin: 30px 0;
}

.infobox-img {
  margin: 40px 20px 40px 40px;
  float: right;
}
.infobox p{
  white-space: pre-wrap;
  font-size: 20px;
}
.infobox h2{
    color: #fff;
    margin: 1rem 0;
    border-bottom: 1px solid #fff;
}

/*.row{
  width: 100%;
}*/
.container{
  min-height: 100vh; 
  padding-bottom: 60px;
}

#login.container{
  background-image: url("/public/images/nippon2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
}

#login,
#signup{
background-image: url('../images/quino-al-mBQIfKlvowM-unsplash.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}


.right{
  float: right;
}
.login {
  background: #1c1c57b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  color: goldenrod;
}
.loginform {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

/* @media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
} */

/*!!! main.hbs css*/

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");

.header {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 50vw;
  min-height: 400px;
  max-height: 550px;
  min-width: 300px;
  color: #eee;
  padding-top: 60px;
}
.header:after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  background: #1b2030 url("/images/nippon2.jpeg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: grow 60s linear 10ms infinite;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}
.header a {
  color: #eee;
}
a {
  text-decoration: none;
}
.logo {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.2em;
  box-sizing: border-box;
}
.sides,
.info {
  flex: 0 0 auto;
  width: 50%;
}
.info {
  width: 100%;
  padding: 15% 10% 0 10%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.info h4,
.meta {
  font-size: 0.7em;
}
.meta2 {
  color: white;
  font-style: italic;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(2);
  }
}
.content {
  padding: 5% 10%;
  text-align: justify;
}
.btn {
  color: #333;
  border: 2px solid;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 600;
}

.infogoals {
  display: flex;
  align-items: center;
  justify-content: center;
}


.myBtn {
  background-color: rgb(207, 109, 17);
  font-weight: bolder;
  border-radius: 10px;
  border: unset;
  color: #ffffff;
  padding: 15px 25px;
  width: 100%;
  font-size: 20px;
}

.login-btn{
margin-top: 35px;
}
.form-check-input:checked {
  background-color: orange;
  border-color: orange;
}
/*!!! später blauen schatten weg machen*/
.form-check-label {
  color: #eee;
  text-decoration: none;
}

.divider{
border-bottom: 1px solid orange;
margin: 50px 0 25px;
}

/*---------HELPERS--------*/

.pr-50{
  padding-right: 50px;
}
.mr-30{
  margin-right: 30px;
}
.ml-30{
  margin-left: 30px;
}

.mt-3{
  margin-top: 3px;
}

.mb-50{
  margin-bottom: 50px;
}

#manager,
#login,
#signup{
  background-image: url('../images/quino-al-mBQIfKlvowM-unsplash.jpg');
  top: 0;
  left:0;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
.manager-content {
  display: flex;
  background: #1c1c57b2;
  flex-direction: column;
  margin: 0 15%;
  width: 70%;
  overflow: hidden;
  height: 100%;
}
.taskmaker {
  display: flex;
  background: #1c1c57b2;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;
  padding-top: 60px;
}
.center{
  float: right;
}
html{
  height: 100% !important;
}
.mt-50{
  margin: 50px 0 0 0;
}
.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(51,51,51,0.08);
}

.alert-box {
  border: 2px solid rgb(207, 109, 17);
  padding: 10px;
  width: 96%;
  border-radius: 6px;
  margin: 25px 0;
  font-size: 19px;
  color: white;
}

@media (max-width: 767.98px) { 
  .naviTop{
    padding: 50px 0 20px 0;
    font-size: 25px;
  }
  .naviMiddle{
    padding: 20px 0;
    font-size: 25px;
  }
  .naviBottom{
  padding: 20px 0 50px 0;
  font-size: 25px;
  }
  .naviIMG{
  margin-left: 60px;
  }
  .naviIMGprofile{
  background-image: url("../images/gears.png");
  background-repeat: no-repeat;
    background-size: contain;
    line-height: 45px;
  }
  .naviIMGhome{
  background-image: url("../images/notebook.png");
  background-repeat: no-repeat;
    background-size: contain;
    line-height: 45px;
  }
  .naviIMGlogout{
  background-image: url("../images/lightbulb-off.png");
  background-repeat: no-repeat;
    background-size: contain;
    line-height: 45px;
  }
}

@media (min-width: 1400px){
.navi-container, .navi-container-lg, .navi-container-md, .navi-container-sm, .navi-container-xl, .navi-container-xxl {
    max-width: 1787px;
}
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
  }
  .navbar-toggler:focus {
  box-shadow: transparent !important;
  border-color: transparent !important;
  }
  .navbar-dark .navbar-toggler {
  color: transparent;
  }

  .option-font{
    padding: 5px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
