/* colors-layout: gold: #a88b17, navy: #03001a  */



body {
  margin-top: 49.2px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #03001a;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  color: rgb(173, 132, 26);
  text-align: center;
}
.start {
  margin: 0;
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
  background: #03001a;
}

/* .mainbox {
  background-color: #03001a;
  margin: auto;
  height: 600px;
  width: 1000px;
  position: relative;
} */

.err,
.err2 {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  left: 68%;
}

.msg {
  color: aliceblue;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

p {
  color: white;
}
.allTasks {
  display: flex;
  justify-content: space-around;
  background-color: #242246b2;
  padding-top: 20px;
}
.form,
.form-label {
  color: rgb(187, 154, 5);
  font-weight: bolder;
  width: 500px;
  margin: 10px;
}
.selector {
  width: 500px;
  margin: 10px;
}
.list-group-item {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
#details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
}

nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
}

.main2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 30px 0;
}
.infobox {
  background-color: #3e3d53b2;
  width: 600px;
  padding: 15px;
}
.taskmaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: #3e3d53b2;
  width: 600px;
  padding: 15px;
}







/*!! Index, SignUp */

/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/



form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #8f9496;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="username"],
input[type="password"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #a35e04;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #a35e04;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}