/* colors-layout: gold: #a88b17, navy: #050033  */
body {
  margin-top: 49.2px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #03001a;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4 {
  color: rgb(173, 132, 26);
  text-align: center;
}
.err,
.err2 {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  left: 68%;
}

.msg {
  color: aliceblue;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

p {
  color: white;
}
.allTasks {
  display: flex;
  justify-content: space-around;
  background-color: #1c1c57b2;
  padding-top: 20px;
}
.form,
.form-label {
  color: rgb(187, 154, 5);
  font-weight: bolder;
  width: 500px;
  margin: 10px;
}
.selector {
  width: 500px;
  margin: 10px;
}
#details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
}
nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
}

.main2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 30px 0;
}
.infobox {
  background-color: #1c1c57b2;
  width: 600px;
  padding: 15px;
  margin: 30px;
}
.taskmaker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  background: #1c1c57b2;
  width: 600px;
  padding: 15px;
}
.section1 {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.login {
  background: #1c1c57b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 500px;
  color: goldenrod;
}
.loginform {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
